/* ----------------------------------------------- *\
    Button
\* ----------------------------------------------- */
button {
    cursor: pointer;
}

.btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 1rem;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    -ms-user-select: none;
    -moz-user-select: none;
    vertical-align: middle;
    -webkit-user-select: none;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:disabled, &:disabled:hover {
        cursor: auto;
        border: none !important;
        color: var(--c-black) !important;
        background-color: var(--c-silver) !important;
    }

    &.-inline-flex {
        gap: 10px;
        display: inline-flex;

        span {
            margin: auto 0;
        }
    
        img {
            height: 25px;
        }
    }

    &.btn-sm {
        padding: 5px;
        margin: auto 0;
        font-size: .8rem;

        img {
            height: 15px;
        }
    }

    &.btn-space {
        padding: 10px 1rem;
    }

    &.btn-rounded {
        border-radius: 25px;
    }

    &.btn-transparent {
        border: none;
        background-color: transparent;
    }
    
    // Button to access other pages
    &.btn-blue {
        color: var(--c-white);
        border-color: var(--c-blue);
        background-color: var(--c-blue);

        &:hover {
            color: var(--c-blue);
            background-color: transparent;
        }
    }

    // Button success
    &.btn-green {
        color: var(--c-white);
        border: 1px solid var(--c-green);
        background-color: var(--c-green);
    
        &:hover {
            color: var(--c-green);
            background-color: transparent;
        }
    }

    // Button danger
    &.btn-red {
        color: var(--c-white);
        border: 1px solid var(--c-red);
        background-color: var(--c-red);

        &:hover {
            color: var(--c-red);
            background-color: transparent;
        }
    }

    // Button warning
    &.btn-orange {
        color: var(--c-black);
        border: 1px solid var(--c-orange);
        background-color: var(--c-orange);
    
        &:hover {
            color: var(--c-orange);
            background-color: transparent;
        }
    }

    // Button information
    &.btn-grey {
        color: var(--c-white);
        border: 1px solid var(--c-gray);
        background-color: var(--c-gray);
    
        &:hover {
            color: var(--c-gray);
            background-color: transparent;
        }
    }

    // Other type of buttons
    &.btn-palette-one {
        color: var(--c-palette-five);
        border: 1px solid var(--c-palette-one);
        background-color: var(--c-palette-one);

        &:hover {
            color: var(--c-palette-one);
            background-color: transparent;
        }
    }
    
    &.btn-palette-two {
        color: var(--c-palette-five);
        border: 1px solid var(--c-palette-two);
        background-color: var(--c-palette-two);

        &:hover {
            color: var(--c-palette-two);
            background-color: transparent;
        }
    }
    
    &.btn-palette-three {
        color: var(--c-palette-five);
        border: 1px solid var(--c-palette-three);
        background-color: var(--c-palette-three);

        &:hover {
            color: var(--c-palette-three);
            background-color: transparent;
        }
    }
    
    &.btn-palette-four {
        color: var(--c-palette-five);
        border: 1px solid var(--c-palette-four);
        background-color: var(--c-palette-four);

        &:hover {
            color: var(--c-palette-four);
            background-color: transparent;
        }
    }

    &.btn-radient-four {
        border: none;
        color: var(--c-palette-five);
        background-image: linear-gradient(to right, var(--c-palette-four), var(--c-palette-three));
        box-shadow: 0 0.46875rem 2.1875rem rgba(0,0,0,.03), 0 0.9375rem 1.40625rem rgba(0,0,0,.03), 0 0.25rem 0.53125rem rgba(0,0,0,.05), 0 0.125rem 0.1875rem rgba(0,0,0,.03);

        &:hover {
            transition: .5s;
            color: var(--c-black);
            background-image: linear-gradient(to right, var(--c-white), var(--c-palette-three));
        }
    }
}