/* ----------------------------------------------- *\
    Pagination
\* ----------------------------------------------- */
.pagination {
    gap: 15px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px 0;
    margin-top: 25px;
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    background-color: var(--c-palette-one);

    .item {
        width: 30px;
        height: 30px;
        padding: 5px;
        border: none;
        display: flex;
        margin: auto 0;
        font-size: 16px;
        border-radius: 25px;
        color: var(--c-white);
        text-decoration: none;
        justify-content: center;
        background-color: var(--c-palette-three);

        &.current-page {
            cursor: auto;
            color: var(--c-palette-one);
            background-color: var(--c-palette-four);
        }
    }
}