/* ----------------------------------------------- *\
    Pagination
\* ----------------------------------------------- */
.pagination {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px 0;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
    background-color: var(--c-white);
    // border: 1px solid var(--c-silver);

    .item {
        width: 20px;
        height: 100%;
        text-align: center;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.current-page {
            color: var(--c-dimmGray);
            border-bottom: 1px solid var(--c-dimmGray);
        }

        a, button {
            border: none;
            color: var(--c-black);
            text-decoration: none;
            background-color: transparent;
        }
    }
}