.popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    background-color: var(--c-dimmGray);

    .popup-content {
        width: 500px;
        background-color: var(--c-white);
    }
}