/* ----------------------------------------------- *\
    Table
\* ----------------------------------------------- */
.table {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0;
    position: relative;
    border-collapse: collapse;

    &.-palette-one {
        color: var(--c-white);

        thead {
            text-align: center;
            background-color: var(--c-palette-one);

            tr {
                height: 45px;
                color: var(--c-palette-four);
            }
        }

        tbody tr {
            height: 45px;
            background-color: var(--c-palette-three);

            @include tablet {
                height: auto;
                min-height: 45px;
            }

            &:nth-child(even) {
                background-color: var(--c-palette-one);
            }

            &:hover {
                transition: .3s;
                color: var(--c-palette-four);
                background-color: var(--c-palette-two);
            }

            td::before {
                left: 0;
                font-weight: 600;
                position: absolute;
                color: var(--c-white);
            }
        }
    }

    thead {
        background-color: darkblue;

        @include tablet {
            display: none;
        }

        tr {
            text-align: center;
            color: var(--c-white);

            th {
                padding: 10px 0;
            }
        }
    }

    tbody {
        text-align: center;

        tr {
            min-height: 50px;
            background-color: var(--c-white);

            &:nth-child(even) {
                background-color: var(--c-lightGray);
            }

            &:hover {
                background-color: var(--c-silver);
            }

            @include tablet {
                padding: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: var(--c-white);
            }

            td {
                padding: 10px;
                position: relative;

                // Quiz - Question
                &.-question {
                    text-align: left;

                    @include desktop {
                        width: 300px;
                    }
                }

                // Common
                &.-actions .btn:not(:last-child) {
                    margin-right: 5px;
                }

                @include tablet {
                    text-align: left;
                    width: fit-content;
                    padding-left: 125px;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    &::before {
                        left: 0;
                        position: absolute;
                        color: var(--c-dimmGray);
                    }

                    // Quiz - Question
                    &.-question::before {
                        content: "Question";
                    }

                    &.-category::before {
                        content: "Category";
                    }

                    &.-answers::before {
                        content: "Answers";
                    }

                    // User
                    &.-username::before {
                        content: "Username";
                    }

                    &.-role::before {
                        content: "Role";
                    }

                    // Game - Quiz
                    &.-date::before {
                        content: "Date";
                    }

                    &.-nbr-questions::before {
                        content: "Nbr questions";
                    }

                    &.-score::before {
                        content: "Score";
                    }

                    // Common
                    &.-message::before {
                        content: "Message";
                    }

                    &.-actions::before {
                        content: "Action";
                    }
                }
            }
        }
    }
}